[submodule "third_party/ketcher"]
	path = third_party/ketcher
	url = https://git.epam.com/epm-lsop/ketcher.git
[submodule "third_party/indigo"]
	path = third_party/indigo
	url = https://github.com/epam/Indigo.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://git.epam.com/epm-lsop/imago-opencv.git
