imago/src/imago.font.inc
Thumbs.db
.DS_Store
imago_gen
/ego/nbproject/private/
/jimago/nbproject/private/
/jimago/build/
/ego/build/
/jimago/dist/
/ego/dist/
/dist/

.idea/
build/
cmake-build-*/
imago_python/dist/
imago_python/imago/lib/
imago_python/epam.imago.egg-info/
imago_python/tests/output/
__pycache__/
imago_c/src/imago_version.h
